body {
    padding-top: 100px;
    font-weight: normal;
}

a {
    text-transform: none;
    text-decoration: none;
    cursor: hand;
    color: #197b30;
}

a:hover {
    text-decoration: none; 
    cursor: hand;  
    color: #197b30; 
}

p {
    font-weight: normal;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f1f6f8;
}

#search {
    height: 60px;
    font-size: 28px;

    margin-bottom: 20px;
}

.announcenment {
    padding-top: 10px;
    padding-bottom: 20px;
}
.announcenment p {
    line-height: 25px;
}

.announcenment h3 {
    padding-bottom: 20px;
}

.list-block {
    padding: 10px;
    border-bottom: 1px #ebebeb solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #eff7ee;
    margin-bottom: 10px;
    font-weight: normal;
}

.sidebar {
    margin-top: -20px;
}