body {
    padding-top: 100px;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f1f6f8;
}

#search {
    height: 60px;
    font-size: 28px;

    margin-bottom: 20px;
}

.announcenment {
    padding-top: 10px;
    padding-bottom: 20px;
}
.announcenment p {
    line-height: 25px;
}

.announcenment h3 {
    padding-bottom: 20px;
}